PROJECT_NAME="Backend API"
VERSION="0.1.0"
API_V1_STR="/api/v1"
DEBUG=True
HOST="127.0.0.1"
PORT=8000

# Have I Been Pwned API Key (Never expose to frontend!)
HIBP_API_KEY=your_api_key_here
HIBP_USER_AGENT=OSINT-Intel-Platform/1.0
